html,
body {
  font-family: Helvetica;
  color: #464646;
  box-sizing: border-box;
  margin: -4;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

h1,
h2 {
  font-size: 60px;
  font-weight: 100;
}

a {
  color: #464646;
  text-decoration: none;
  padding: 0% 0.5vw;
  vertical-align: middle;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationBar > * {
  display: inline-flex;
  align-items: baseline;
  vertical-align: middle;
  background-color: #fff0ed;
  list-style: none;
  text-decoration: none;
}

#shopNow {
  color: #5bacc3;
  padding-left: 0% 3%;
}

.nav__img {
  height: 60px;
}

.navHeading {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 50px;
  vertical-align: middle;
}

.menuBigText {
  width: 100vw;
  height: 560px;
  background-image: url(../assets/coffee-circle.jpg);
  background-position: center;
  background-size: cover;
  color: #464646;
  /* padding-right: 60%; */
  background-color: #393939;
  font-size: 60px;
  font-weight: 100;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuHeading1 {
  color: whitesmoke;
  background-color: #464646;
  padding: 0.75em 0.5em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.menuBackground {
  color: whitesmoke;
  background-color: #464646;
  width: 100%;
  height: 74px;
}
.menuList {
  list-style: none;
  text-align: center;
  color: whitesmoke;
  padding-top: 1.5rem;
}

.menuNavigationBar > * {
  display: inline;
  border-left: #5bacc3 solid 2px;
  padding: top 0;
}

.menuSectionsList {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}

.mainAlignmentAndMargins > * {
  text-align: center;
}

.hotDrinksAndPastries {
  background-color: #fff0ed;
}

.sectionHeadings {
  text-align: center;
  font-weight: 100;
  margin-bottom: 1%;
  padding-top: 1%;
}

.menuTitles {
  text-align: center;
  font-weight: 400;
  margin-bottom: 1%;
}

.price {
  text-align: center;
  color: #5bacc3;
  padding-bottom: 2%;
}

.menu__description-paragraphs {
  padding: 0% 30%;
  margin-bottom: 1%;
}

.coldDrinks {
  background-color: #f7f7f7;
}

.menuHeading__box {
  position: absolute;
  border: 2px solid #5bacc3;
  left: -8%;
  top: -8%;
  bottom: 4%;
  right: 4%;
}
